<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blogen</title>
		<meta charset="UTF-8" />
		<link rel="icon" href="/image/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link
			href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>